<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mikielis\PriceNegotiation\Api\NegotiationRepositoryInterface" type="Mikielis\PriceNegotiation\Model\NegotiationRepository" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="price_negotiation_listing_data_source" xsi:type="string">Mikielis\PriceNegotiation\Model\ResourceModel\Negotiation\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Mikielis\PriceNegotiation\Model\ResourceModel\Negotiation\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">mikielis_price_negotiations</argument>
            <argument name="resourceModel" xsi:type="string">Mikielis\PriceNegotiation\Model\ResourceModel\Negotiation</argument>
        </arguments>
    </virtualType>
    <virtualType name="price_negotiation_offers_grid_filter_pool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">
                    Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter
                </item>
                <item name="fulltext" xsi:type="object">
                    Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="price_negotiation_listing_data_source" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Mikielis\PriceNegotiation\Model\ResourceModel\Negotiation\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">price_negotiation_offers_grid_filter_pool</argument>
        </arguments>
    </virtualType>
</config>